
<div id="name">
  <h1 class="inline">Valentin Weiss</h1>
  <span class="inline">Student, Computer Science (UZH)</span>
</div>

<ul id="contact">
  <li><i class="fa fa-envelope" aria-hidden="true"></i> valentin.weiss@hotmail.com</li>
  <li><i class="fa fa-github" aria-hidden="true"></i> WeissDev</li>
  <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zurich, Switzerland</li>
</ul>

<div class="row">
  <div id="biopic" class="col-sm-4">
    <img class="center" src="/assets/images/biopic.jpg" alt="Valentin Weiss">
  </div>
  <div class="col-sm-8">
    <h3>Skills at a glance</h3>
  </div>
</div>

