#header {
  margin-top: 20px;
  max-width: 800px;
}

#biopic {
  max-width: 200px;
}

#biopic img {
  display: inline;
  width: 100%;
}

#name-wrapper {
  padding: 15px;
  height: 267px;
}

#name {
  text-align: center;
  margin: 15px 0;
}

#contact {
  display: block;
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}

#contact li {
  margin: 10px 0;
}

#contact li a {
  color: #ffffff;
  text-decoration: none;
}

#contact li a:hover {
  color: #e8e8e6;
}

#skill-wrapper {
  margin-top: 30px;
  max-width: 890px;
}

#skills {
  width: 100%;
}

.category {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.skill {
  width: 50px;
  margin: 20px;
}

.skill img {
  width: 100%;
}

.flex {
  justify-content: space-between;
}

.flex div:nth-child(2) {
  margin-left: 20px;
}
