

<div id="header" class="center flex">


    <div id="biopic" class="tile">
      <img class="center" src="/assets/images/biopic.jpg" alt="Valentin Weiss">
    </div>

    <div id="name-wrapper" class=" tile blue-bg">
      <div id="name">
        <h1 class="inline">Valentin Weiss</h1>
        <span class="inline">Student, Computer Science (UZH)</span>
      </div>
      <ul id="contact">
        <li><i class="fa fa-envelope" aria-hidden="true"></i> valentin.weiss@hotmail.com</li>
        <li><i class="fa fa-github" aria-hidden="true"></i> WeissDev</li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zurich, Switzerland</li>
      </ul>
    </div>

</div>






