<div id="header" class="center flex">

  <div id="biopic">
    <img class="center" src="/assets/images/biopic.jpg" alt="Valentin Weiss">
  </div>

  <div id="name-wrapper">
    <div id="name">
      <h1 class="inline">Valentin Weiss</h1>
      <span class="inline">Student, Computer Science (UZH)</span>
    </div>
    <ul id="contact" class="center">
      <li><a href="mailto:valentin.weiss@hotmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> valentin.weiss@hotmail.com</a></li>
      <li><a href="https://github.com/WeissDev"><i class="fa fa-github" aria-hidden="true"></i> WeissDev</a></li>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zurich, Switzerland</li>
    </ul>
  </div>

</div>






