#work {
  margin: 15px;
  padding: 10px;
  max-width: 571px;
}

#jobs {
  max-width: 500px;
}

.job {
  margin: 5px 0;
}

.title {
  display: inline;
}

.company,
.time,
.location {
  font-style: italic;
}

.time {
  display: block;
}

.location {
  color: #777777;
  float: right;
}
