

#work {
  padding: 10px;
  margin-top: 15px;
  max-width: 571px;
}


#jobs {
  max-width: 500px;
}

.job {
  margin: 40px 0;
}

.job p {
  margin-top: 2px;
}

.title {
  display: inline;
}

.company,
.time,
.location {
  font-style: italic;
}

.time {
  display: block;
}

.location {
  color: #777777;
  float: right;
}
