<div id="skill-wrapper" class="center tile white">

  <h2 class="text-center">Skills at a glance</h2>

  <div id="skills">
    <div class="category">
      <ng-container *ngFor="let skill of skills">
        <head-skill *ngIf="skill.percent > 79" [skill]="skill"></head-skill>
      </ng-container>
    </div>

    <div class="category">
      <ng-container *ngFor="let skill of skills">
        <head-skill *ngIf="skill.percent > 59 && skill.percent < 79" [skill]="skill"></head-skill>
      </ng-container>
    </div>

    <div class="category">
      <ng-container *ngFor="let skill of skills">
        <head-skill *ngIf="skill.percent > 39 && skill.percent < 59" [skill]="skill"></head-skill>
      </ng-container>
    </div>

    <div class="category">
      <ng-container *ngFor="let skill of skills">
        <head-skill *ngIf="skill.percent < 39" [skill]="skill"></head-skill>
      </ng-container>
    </div>

  </div>
</div>
