#head-bg-wrapper {
  width: 100%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

#skill-work-wrapper {
  max-width: 900px;
}

#container {
  max-width: 900px;
}

#name-wrapper {
  padding: 15px;
  height: 267px;
}

#name {
  text-align: center;
  margin: 15px 0;
}

#contact {
  display: block;
  font-size: 1.2em;
  /*display: flex;*/
  list-style-type: none;
  /*justify-content: space-between;*/
  padding-left: 0;
  margin: auto;
}

#contact li {
  margin: 10px 0;
}

footer {
  color: #ffffff !important;
}

footer h3 {
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#contact-details {
  display: block; text-align:center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 20px;
}

#contact-details li {
  font-size: 1.2em;
  display: inline;
  margin: 15px;
}

#contact-details li a {
  color: #ffffff;
  text-decoration: none;
}

#contact-details li a:hover {
  color: #e8e8e6;
}

@media screen and (max-width: 990px){
  #wrapper {
    max-width: 580px;
    margin: 0 auto;
  }
}

