<div id="container" class="center">
  <app-head></app-head>
  <app-skills></app-skills>
  <app-work></app-work>
  <app-education></app-education>
  <app-project></app-project>
</div>

<footer class="tile blue-bg">
  <h3 class="text-center">Let's connect!</h3>

  <ul id="contact-details">
    <li><a href="mailto:valentin.weiss@hotmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> valentin.weiss@hotmail.com</a></li>
    <li><a href="https://github.com/WeissDev"><i class="fa fa-github" aria-hidden="true"></i> WeissDev</a></li>
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zurich, Switzerland</li>
  </ul>
</footer>




