<div id="head-bg-wrapper">
  <app-head></app-head>
</div>

<div id="skill-work-wrapper" class="row center">
  <div class="col-sm-4">
    <app-skills></app-skills>
  </div>
  <div class="col-sm-8">
    <app-work></app-work>
  </div>
</div>

<div id="container" class="center">
  <app-education></app-education>
  <app-project></app-project>
  <app-gh-calendar></app-gh-calendar>
</div>




<footer class="tile blue-bg">
  <h3 class="text-center">Let's connect!</h3>

  <ul id="contact-details">
    <li><a href="mailto:valentin.weiss@hotmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> valentin.weiss@hotmail.com</a></li>
    <li><a href="https://github.com/WeissDev"><i class="fa fa-github" aria-hidden="true"></i> WeissDev</a></li>
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Zurich, Switzerland</li>
  </ul>
</footer>




