md-tab-group {
  max-width: 800px;
}

#container {
  max-width: 1000px;
}

#name-wrapper {
  padding: 15px;
  height: 267px;
}

#name {
  text-align: center;
  margin: 15px 0;
}

#contact {
  display: block;
  font-size: 1.2em;
  /*display: flex;*/
  list-style-type: none;
  /*justify-content: space-between;*/
  padding-left: 0;
  margin: auto;
}

#contact li {
  margin: 10px 0;
}

@media screen and (max-width: 990px){
  #wrapper {
    max-width: 580px;
    margin: 0 auto;
  }
}

